## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
application_df.columns
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN'])

In [6]:
# Check the unique values in the NAME column
name_counts = application_df['NAME'].value_counts()

# Set a threshold for how frequent a name must be to be kept as is
threshold = 50  # You can adjust this number based on your dataset
print(name_counts)

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [7]:
# Create a list of names to keep based on frequency
names_to_keep = name_counts[name_counts >= threshold].index.tolist()

# Replace the less frequent names with 'Other'
application_df['NAME_BINNED'] = application_df['NAME'].apply(lambda x: x if x in names_to_keep else 'Other')

# Now drop the original NAME column, as it is binned into 'NAME_BINNED'
application_df = application_df.drop(columns=['NAME'])

In [8]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
NAME_BINNED                 52
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 200
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
count = application_df['CLASSIFICATION'].value_counts()
count_greater_than_1 = count[count > 1]

# Display the filtered counts
print(count_greater_than_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 1000
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts <= cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df_encoded = pd.get_dummies(application_df, drop_first=True)
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,NAME_BINNED_TOPS CLUB INC,NAME_BINNED_UNITED FEDERATION OF DOLL CLUBS INC,NAME_BINNED_UNITED STATES BOWLING CONGRESS INC,NAME_BINNED_UNIVERSITY OF FLORIDA,NAME_BINNED_UNIVERSITY OF WYOMING,NAME_BINNED_VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY,NAME_BINNED_VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC,NAME_BINNED_WASHINGTON STATE GRANGE,NAME_BINNED_WASHINGTON STATE UNIVERSITY,NAME_BINNED_WORKERS UNITED
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])  # Features (exclude target column)
y = application_df_encoded['IS_SUCCESSFUL']  # Target
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

c:\Users\nitub\anaconda31\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │         5,632 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 7,745 (30.25 KB)

 Trainable params: 7,745 (30.25 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(optimizer='adam',
           loss='binary_crossentropy',
           metrics=['accuracy'])

In [19]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train,
                   epochs=100,        # Number of epochs (you can adjust this)
)

Epoch 1/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 946us/step - accuracy: 0.7265 - loss: 0.5321
Epoch 2/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 884us/step - accuracy: 0.7652 - loss: 0.4791
Epoch 3/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 888us/step - accuracy: 0.7683 - loss: 0.4779
Epoch 4/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 898us/step - accuracy: 0.7676 - loss: 0.4775
Epoch 5/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 896us/step - accuracy: 0.7690 - loss: 0.4689
Epoch 6/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 917us/step - accuracy: 0.7702 - loss: 0.4713
Epoch 7/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 898us/step - accuracy: 0.7688 - loss: 0.4712
Epoch 8/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.7743 - loss: 0.4688
Epoch 9/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 878us/step - accuracy: 0.7711 - loss: 0.4698
Epoch 10/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 905us/step - accuracy: 0.7681 - loss: 0.4747
Epoch 11/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 905us/step - accuracy: 0.7726 - loss: 0.4671
Epoch 12/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7728 - loss: 0.4672
Epoch 13/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7746 - loss: 0.4642
Epoch 14/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 952us/step - accuracy: 0.7693 - loss: 0.4668
Epoch 15/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7734 - loss: 0.4628
Epoch 16/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 848us/step - accuracy: 0.7693 - loss: 0.4706
Epoch 17/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 883us/step - accuracy: 0.7710 - loss: 0.4671
Epoch 18/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7748 - loss: 0.4634
Epoch 19/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 913us/step - accuracy: 0.7738 - loss: 0.4641
Epoch 20/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7763 - loss: 0.4618
Epoch 21/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 908us/step - accuracy: 0.7761 - loss: 0.4600
Epoch 22/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7730 - loss: 0.4620
Epoch 23/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 897us/step - accuracy: 0.7738 - loss: 0.4646
Epoch 24/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 861us/step - accuracy: 0.7759 - loss: 0.4602
Epoch 25/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.7735 - loss: 0.4640
Epoch 26/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 883us/step - accuracy: 0.7755 - loss: 0.4596
Epoch 27/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 875us/step - accuracy: 0.7747 - loss: 0.4607
Epoch 28/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.7740 - loss: 0.4668
Epoch 29/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7739 - loss: 0.4631
Epoch 30/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7790 - loss: 0.4566
Epoch 31/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.7762 - loss: 0.4582
Epoch 32/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 875us/step - accuracy: 0.7739 - loss: 0.4641
Epoch 33/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7757 - loss: 0.4620
Epoch 34/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 865us/step - accuracy: 0.7707 - loss: 0.4657
Epoch 35/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 856us/step - accuracy: 0.7725 - loss: 0.4640
Epoch 36/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7759 - loss: 0.4610
Epoch 37/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7741 - loss: 0.4628
Epoch 38/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 858us/step - accuracy: 0.7785 - loss: 0.4590
Epoch 39/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.7743 - loss: 0.4640
Epoch 40/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 889us/step - accuracy: 0.7797 - loss: 0.4547
Epoch 41/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.7707 - loss: 0.4652
Epoch 42/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.7770 - loss: 0.4573
Epoch 43/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7795 - loss: 0.4551
Epoch 44/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7755 - loss: 0.4612
Epoch 45/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7781 - loss: 0.4590
Epoch 46/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 890us/step - accuracy: 0.7789 - loss: 0.4556
Epoch 47/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 861us/step - accuracy: 0.7808 - loss: 0.4545
Epoch 48/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 834us/step - accuracy: 0.7727 - loss: 0.4630
Epoch 49/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.7767 - loss: 0.4576
Epoch 50/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7775 - loss: 0.4549
Epoch 51/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7758 - loss: 0.4605
Epoch 52/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7779 - loss: 0.4571
Epoch 53/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 880us/step - accuracy: 0.7754 - loss: 0.4585
Epoch 54/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 884us/step - accuracy: 0.7770 - loss: 0.4574
Epoch 55/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7753 - loss: 0.4605
Epoch 56/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7739 - loss: 0.4595
Epoch 57/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 859us/step - accuracy: 0.7760 - loss: 0.4584
Epoch 58/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.7772 - loss: 0.4567
Epoch 59/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 884us/step - accuracy: 0.7775 - loss: 0.4552
Epoch 60/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 848us/step - accuracy: 0.7774 - loss: 0.4591
Epoch 61/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 865us/step - accuracy: 0.7730 - loss: 0.4597
Epoch 62/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 894us/step - accuracy: 0.7748 - loss: 0.4601
Epoch 63/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 861us/step - accuracy: 0.7708 - loss: 0.4638
Epoch 64/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7720 - loss: 0.4667
Epoch 65/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 888us/step - accuracy: 0.7775 - loss: 0.4550
Epoch 66/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7765 - loss: 0.4579
Epoch 67/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7742 - loss: 0.4624
Epoch 68/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 889us/step - accuracy: 0.7756 - loss: 0.4578
Epoch 69/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 851us/step - accuracy: 0.7756 - loss: 0.4572
Epoch 70/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 859us/step - accuracy: 0.7755 - loss: 0.4593
Epoch 71/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 891us/step - accuracy: 0.7752 - loss: 0.4589
Epoch 72/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7759 - loss: 0.4603
Epoch 73/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7747 - loss: 0.4577
Epoch 74/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 883us/step - accuracy: 0.7757 - loss: 0.4588
Epoch 75/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 861us/step - accuracy: 0.7793 - loss: 0.4551
Epoch 76/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 865us/step - accuracy: 0.7755 - loss: 0.4612
Epoch 77/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 890us/step - accuracy: 0.7769 - loss: 0.4593
Epoch 78/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 853us/step - accuracy: 0.7792 - loss: 0.4537
Epoch 79/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7777 - loss: 0.4551
Epoch 80/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 890us/step - accuracy: 0.7745 - loss: 0.4606
Epoch 81/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 855us/step - accuracy: 0.7770 - loss: 0.4543
Epoch 82/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 848us/step - accuracy: 0.7799 - loss: 0.4535
Epoch 83/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.7785 - loss: 0.4528
Epoch 84/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7741 - loss: 0.4597
Epoch 85/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7796 - loss: 0.4555
Epoch 86/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 915us/step - accuracy: 0.7785 - loss: 0.4572
Epoch 87/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 876us/step - accuracy: 0.7819 - loss: 0.4514
Epoch 88/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7774 - loss: 0.4518
Epoch 89/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7728 - loss: 0.4597
Epoch 90/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7731 - loss: 0.4614
Epoch 91/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7718 - loss: 0.4604
Epoch 92/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 891us/step - accuracy: 0.7814 - loss: 0.4521
Epoch 93/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 884us/step - accuracy: 0.7795 - loss: 0.4535
Epoch 94/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 849us/step - accuracy: 0.7795 - loss: 0.4557
Epoch 95/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 880us/step - accuracy: 0.7767 - loss: 0.4590
Epoch 96/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7768 - loss: 0.4561
Epoch 97/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 888us/step - accuracy: 0.7813 - loss: 0.4519
Epoch 98/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 889us/step - accuracy: 0.7744 - loss: 0.4592
Epoch 99/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.7749 - loss: 0.4563
Epoch 100/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 891us/step - accuracy: 0.7796 - loss: 0.4541

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7563 - loss: 0.5009
Loss: 0.5008657574653625, Accuracy: 0.7562682032585144

In [21]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('AlphabetSoupCharity_Optimization.h5')

print("Model saved to 'AlphabetSoupCharity_Optimization.h5'")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved to 'AlphabetSoupCharity_Optimization.h5'