## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.columns
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns=['EIN', 'NAME'])

In [ ]:
# Determine the number of unique values in each column.

unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"

application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

cutoff_value = 200
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
count = application_df['CLASSIFICATION'].value_counts()
count_greater_than_1 = count[count > 1]

# Display the filtered counts
print(count_greater_than_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts <= cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df_encoded = pd.get_dummies(application_df, drop_first=True)
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,True,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [ ]:
# Split our preprocessed data into our features and target arrays

X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])  # Features (exclude target column)
y = application_df_encoded['IS_SUCCESSFUL']  # Target
# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer

nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

c:\Users\nitub\anaconda31\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 128)            │         4,736 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 15,105 (59.00 KB)

 Trainable params: 15,105 (59.00 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model

nn.compile(optimizer='adam',
           loss='binary_crossentropy',
           metrics=['accuracy'])

In [14]:
# Train the model

fit_model = nn.fit(X_train_scaled, y_train,
                   epochs=100,        # Number of epochs (you can adjust this)
)

Epoch 1/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7077 - loss: 0.5891
Epoch 2/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7298 - loss: 0.5513
Epoch 3/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7286 - loss: 0.5528
Epoch 4/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7374 - loss: 0.5469
Epoch 5/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7296 - loss: 0.5511
Epoch 6/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 995us/step - accuracy: 0.7322 - loss: 0.5516
Epoch 7/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 972us/step - accuracy: 0.7326 - loss: 0.5452
Epoch 8/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 974us/step - accuracy: 0.7354 - loss: 0.5464
Epoch 9/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 948us/step - accuracy: 0.7361 - loss: 0.5405
Epoch 10/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 985us/step - accuracy: 0.7322 - loss: 0.5456
Epoch 11/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 939us/step - accuracy: 0.7354 - loss: 0.5422
Epoch 12/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 920us/step - accuracy: 0.7332 - loss: 0.5433
Epoch 13/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7364 - loss: 0.5415
Epoch 14/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1000us/step - accuracy: 0.7348 - loss: 0.5477
Epoch 15/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7331 - loss: 0.5440
Epoch 16/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 907us/step - accuracy: 0.7302 - loss: 0.5476
Epoch 17/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 969us/step - accuracy: 0.7367 - loss: 0.5443
Epoch 18/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 941us/step - accuracy: 0.7349 - loss: 0.5425
Epoch 19/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 900us/step - accuracy: 0.7435 - loss: 0.5374
Epoch 20/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 928us/step - accuracy: 0.7364 - loss: 0.5393
Epoch 21/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 926us/step - accuracy: 0.7354 - loss: 0.5410
Epoch 22/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 915us/step - accuracy: 0.7411 - loss: 0.5373
Epoch 23/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 936us/step - accuracy: 0.7396 - loss: 0.5395
Epoch 24/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 890us/step - accuracy: 0.7382 - loss: 0.5371
Epoch 25/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 963us/step - accuracy: 0.7413 - loss: 0.5381
Epoch 26/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.7398 - loss: 0.5369
Epoch 27/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 944us/step - accuracy: 0.7329 - loss: 0.5437
Epoch 28/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 958us/step - accuracy: 0.7397 - loss: 0.5383
Epoch 29/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 947us/step - accuracy: 0.7381 - loss: 0.5379
Epoch 30/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 977us/step - accuracy: 0.7360 - loss: 0.5378
Epoch 31/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 889us/step - accuracy: 0.7390 - loss: 0.5361
Epoch 32/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 958us/step - accuracy: 0.7424 - loss: 0.5340
Epoch 33/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 932us/step - accuracy: 0.7403 - loss: 0.5374
Epoch 34/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 938us/step - accuracy: 0.7415 - loss: 0.5357
Epoch 35/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 961us/step - accuracy: 0.7411 - loss: 0.5358
Epoch 36/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 975us/step - accuracy: 0.7370 - loss: 0.5396
Epoch 37/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 962us/step - accuracy: 0.7356 - loss: 0.5388
Epoch 38/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 932us/step - accuracy: 0.7436 - loss: 0.5340
Epoch 39/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 984us/step - accuracy: 0.7419 - loss: 0.5375
Epoch 40/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 928us/step - accuracy: 0.7355 - loss: 0.5408
Epoch 41/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 959us/step - accuracy: 0.7428 - loss: 0.5356
Epoch 42/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 956us/step - accuracy: 0.7417 - loss: 0.5316
Epoch 43/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 899us/step - accuracy: 0.7382 - loss: 0.5339
Epoch 44/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 956us/step - accuracy: 0.7399 - loss: 0.5349
Epoch 45/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 922us/step - accuracy: 0.7448 - loss: 0.5319
Epoch 46/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 951us/step - accuracy: 0.7384 - loss: 0.5379
Epoch 47/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 964us/step - accuracy: 0.7377 - loss: 0.5381
Epoch 48/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 950us/step - accuracy: 0.7413 - loss: 0.5345
Epoch 49/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.7415 - loss: 0.5341
Epoch 50/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 920us/step - accuracy: 0.7372 - loss: 0.5351
Epoch 51/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 943us/step - accuracy: 0.7415 - loss: 0.5341
Epoch 52/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 923us/step - accuracy: 0.7441 - loss: 0.5321
Epoch 53/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 923us/step - accuracy: 0.7400 - loss: 0.5365
Epoch 54/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 948us/step - accuracy: 0.7387 - loss: 0.5346
Epoch 55/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7382 - loss: 0.5354
Epoch 56/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 944us/step - accuracy: 0.7439 - loss: 0.5336
Epoch 57/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 938us/step - accuracy: 0.7370 - loss: 0.5356
Epoch 58/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7432 - loss: 0.5309
Epoch 59/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 933us/step - accuracy: 0.7402 - loss: 0.5328
Epoch 60/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7396 - loss: 0.5322
Epoch 61/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 958us/step - accuracy: 0.7421 - loss: 0.5339
Epoch 62/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 972us/step - accuracy: 0.7387 - loss: 0.5349
Epoch 63/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 961us/step - accuracy: 0.7378 - loss: 0.5355
Epoch 64/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 907us/step - accuracy: 0.7420 - loss: 0.5313
Epoch 65/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 955us/step - accuracy: 0.7396 - loss: 0.5324
Epoch 66/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 922us/step - accuracy: 0.7333 - loss: 0.5373
Epoch 67/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 897us/step - accuracy: 0.7390 - loss: 0.5351
Epoch 68/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 962us/step - accuracy: 0.7371 - loss: 0.5391
Epoch 69/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7406 - loss: 0.5338
Epoch 70/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 912us/step - accuracy: 0.7399 - loss: 0.5319
Epoch 71/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 914us/step - accuracy: 0.7449 - loss: 0.5317
Epoch 72/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 927us/step - accuracy: 0.7375 - loss: 0.5376
Epoch 73/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 907us/step - accuracy: 0.7365 - loss: 0.5355
Epoch 74/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 918us/step - accuracy: 0.7445 - loss: 0.5288
Epoch 75/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 919us/step - accuracy: 0.7356 - loss: 0.5368
Epoch 76/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 917us/step - accuracy: 0.7445 - loss: 0.5304
Epoch 77/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 919us/step - accuracy: 0.7462 - loss: 0.5259
Epoch 78/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 894us/step - accuracy: 0.7470 - loss: 0.5252
Epoch 79/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 913us/step - accuracy: 0.7400 - loss: 0.5319
Epoch 80/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 928us/step - accuracy: 0.7369 - loss: 0.5382
Epoch 81/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 906us/step - accuracy: 0.7458 - loss: 0.5295
Epoch 82/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 900us/step - accuracy: 0.7392 - loss: 0.5324
Epoch 83/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 926us/step - accuracy: 0.7424 - loss: 0.5312
Epoch 84/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 904us/step - accuracy: 0.7444 - loss: 0.5278
Epoch 85/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 914us/step - accuracy: 0.7397 - loss: 0.5344
Epoch 86/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 926us/step - accuracy: 0.7368 - loss: 0.5382
Epoch 87/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 892us/step - accuracy: 0.7339 - loss: 0.5361
Epoch 88/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 927us/step - accuracy: 0.7395 - loss: 0.5338
Epoch 89/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 905us/step - accuracy: 0.7387 - loss: 0.5331
Epoch 90/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7430 - loss: 0.5284
Epoch 91/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 932us/step - accuracy: 0.7470 - loss: 0.5279
Epoch 92/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 944us/step - accuracy: 0.7358 - loss: 0.5359
Epoch 93/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 914us/step - accuracy: 0.7377 - loss: 0.5343
Epoch 94/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 929us/step - accuracy: 0.7395 - loss: 0.5349
Epoch 95/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 999us/step - accuracy: 0.7384 - loss: 0.5357
Epoch 96/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 896us/step - accuracy: 0.7447 - loss: 0.5269
Epoch 97/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 918us/step - accuracy: 0.7403 - loss: 0.5302
Epoch 98/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 991us/step - accuracy: 0.7382 - loss: 0.5337
Epoch 99/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 998us/step - accuracy: 0.7401 - loss: 0.5359
Epoch 100/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7374 - loss: 0.5353

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7261 - loss: 0.5777
Loss: 0.5777205228805542, Accuracy: 0.7260932922363281

In [16]:
# Export our model to HDF5 file

nn.save('AlphabetSoupCharity.h5')

print("Model saved to 'AlphabetSoupCharity.h5'")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved to 'AlphabetSoupCharity.h5'